<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>$title$</title>
  <link href="index.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <img src="img/self.jpeg" alt="Picture of Martin Fleurial"/>
    <hgroup>
        <h1>Martin Fleurial</h1>
        <p>phd student in mathematics</p>
    </hgroup>
  </header>

  <div id="content">
    $body$
  </div>

  <footer>
    <a href="https://www.linkedin.com/in/martin-fleurial-01006a181">
      <img src="img/github.svg" alt="github logo"/>
    </a>
    <a href="https://github.com/martin-fl">
      <img src="img/linkedin.svg" alt="linkedin logo"/>
    </a>
  </footer>
</body>

</html>